<h1>Ваши избранные подкасты и выпуски</h1>

<h2>Подкасты</h2>
<% if @favorite_podcasts.any? %>
<ul>
    <% @favorite_podcasts.each do |podcast| %>
    <li><%= link_to podcast.name, podcast_path(podcast) %></li>
    <% end %>
</ul>
<% else %>
<p>У вас пока нет избранных подкастов.</p>
<% end %>

<h2>Выпуски</h2>
<% if @favorite_issues.any? %>
<ul>
    <% @favorite_issues.each do |issue| %>
    <li><%= link_to issue.name, podcast_issue_path(issue.podcast, issue) %></li>
    <% end %>
</ul>
<% else %>
<p>У вас пока нет избранных выпусков.</p>
<% end %>