<div class="Cards">

    <div class='CardLine first'>
        <% @themes.first((@themes.size * 0.2).to_i).each do |theme| %>
        <div class="Card">
            <%= image_tag theme.cover, alt: theme.name, class: "ThemeCoverImage"%>
            <h5><%= theme.name %></h5>
        </div>
        <% end %>
    </div>
    <div class='CardLine second'>
        <% @themes.drop((@themes.size * 0.2).to_i).first((@themes.size * 0.5).to_i).each do |theme| %>
        <%= render partial: "themecard", locals: { theme: theme } %>
        <% end %>
    </div>
    <div class='CardLine third'>
        <% @themes.drop((@themes.size * 0.2).to_i + (@themes.size * 0.5).to_i).each do |theme| %>
        <%= render partial: "themecard", locals: { theme: theme } %>
        <% end %>
    </div>

</div>