<h1>Выпуски подкаста "<%= @podcast.name %>"</h1>

<ul>
    <% @issues.each do |issue| %>
    <li>
        <strong><%= issue.name %></strong> - <%= link_to "Просмотр", issue_path(issue) %>
    </li>
    <% end %>
</ul>