<% set_meta_tags(
  title: "Выпуски подкаста #{@podcast.name}",
  keywords: "Подкасты, Рецензии, Информация"
) %>

<%= link_to 'javascript:history.back()' do %>
<div style="display:flex; flex-direction: row; align-items: center;
    gap: 12px">
    <div class="Q_Arrow backWhite">
    </div>
    <h4> К подкасту </h4>
</div>
<% end %>


<div class="C_AllIssues">
    <% @issues.each do |issue| %>

    <%= render partial: "issuecard_secondary", locals: { issue: issue } %>

    <% end %>

</div>