<div id="<%= dom_id author %>">
    <p>
        <strong>Name:</strong>
        <%= author.user.profile.name %>
    </p>

    <p>
        <strong>Description:</strong>
        <%= author.exten_bio %>
    </p>

</div>