<% set_meta_tags(
  title: "Профиль замечательного пользователя – #{@user.profile.name}",
  keywords: "Подкасты, Рецензии, Информация"
) %>
<div class="O_Profile">
    <div class="M_ProfileCardOpened">
        <div style="display:flex; gap:16px">
            <%= image_tag @user.profile.avatar, alt: @user.profile.name, class: "ProfileAvatarImage" if @user.profile.avatar.present? %>
            <div class="ProfileTitle">

                <h1> <%= @user.profile.name %> </h1>
                <p> Знаток подкастов <%= @user.profile.level %> уровня </p>

                <div class="C_SectionList">
                    <div class="A_section Small">
                        <h4> 453 подписчика </h4>
                    </div>
                    <div class="A_section Small">
                        <h4> 27 подписок </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="ProfileFunc">
            <div class="A_Button SecondaryMedium white">
                <h5> Выйти </h5>
            </div>
            <div class="Q_Icon setting">
            </div>
        </div>
    </div>
    <div class="C_SectionList">
        <div class="A_section Big">
            <h1> 25 </h1>
            <p> подкастов оценено </p>
        </div>
        <div class="A_section Big">
            <h1> 125 </h1>
            <p> написанных рецензий </p>
        </div>
        <div class="A_section Big">
            <h1> 341 </h1>
            <p> дней в приложении </p>
        </div>
    </div>
    <div class="W_ProfilePlaylistBlock">
    </div>
    <h1 style="color: var(--accent_green)">Рецензии </h1>
    <div class="W_ProfilePostsCards">
        <% @posts.each do |post| %>
        <%= render partial: "postcard", locals: { post: post } %>
        <% end %>
    </div>
</div>