@media screen and (max-width: 768px) {
  h1 {
    font-size: 24px;
    font-weight: 500;
    &.double {
      font-size: 56px;
      font-weight: 500;
    }
  }
  .SearchContainer.mini {
    width: 25vw;
    .SearchInput {
      width: 20vw;
    }
  }
  .A_Tag.mini {
    padding: 6px 8px;
  }
  .C_ThemeCards a:nth-child(n + 5) {
    display: none;
  }
  .M_ThemeCard .ThemeCoverImage {
    width: 150px;
    height: 150px;
  }
  .W_ReviewCards {
    .M_ReviewCard:nth-child(n + 3) {
      display: none;
    }
  }
  .C_ChartList {
    gap: 0px;
  }
  .Q_Logo {
    width: 130px;
  }
  .M_PostFullCard .IssueCover.audio {
    width: 16vw;
    height: 16vw;
  }
  .M_PodcastTitle .PodcastCover {
    width: 120px;
    height: 120px;
  }
  .C_ThemeReview {
    flex-wrap: wrap;
    gap: 12px;
  }
  .W_ReviewBlock .C_ThemeReview .W_ThemeCountCard {
    width: 24vw;
  }
  .A_Link {
    padding: 8px 12px;
  }
  .A_Link a {
    font-size: 14px;
  }
  .M_ReviewCard {
    padding: 16px;
  }
  .O_PostFullCard_WithComments {
    padding: 24px;
  }
  .C_AuthorsSmallCards {
    padding: 12px;
  }
  .W_AuthorSmallCard {
    h4 {
      font-size: 12px;
    }
  }
  p {
    &.small {
      font-size: 9px;
    }
  }
  .W_AuthorSmallCard .AuthorsSmallCardsAvatar {
    width: 32px;
    height: 32px;
  }
  .W_IssueInfo_Podcast .gray {
    display: none;
  }
  .A_Tag {
    padding: 8px 16px;
    width: max-content;
  }
  .Q_Icon.tg {
    width: 24px;
    height: 24px;
    background-size: contain;
  }
  .O_BgRecPage {
    height: 27vh;
  }
  .O_BgMainPage {
    height: 51vh;
    margin-top: -1vh;
  }
  .Q_Icon.more {
    width: 20px;
    height: 20px;
    background-size: contain;
  }
  .A_Link.mini {
    padding: 5px 8px;
  }
  .M_ChartCard h2 {
    line-height: 60px;
  }
  .M_ChartCard .C_LinksLine {
    height: 60px;
  }
  .SmallPodcastCoverImage {
    width: 60px;
    height: 60px;
  }
  .M_ChartCard .C_LinksLine + div {
    margin-left: 2vw;
  }
  .C_ChartCard_Info {
    width: 62vw;
  }
  .A_Tag.mini h5 {
    font-size: 10px;
  }
  .A_Link.mini a {
    font-size: 10px;
  }
  .C_AuthorsCards {
    gap: 8px;
  }
  .W_AccentCover {
    width: 100%;
    margin-left: 0;
    h1 {
      width: 80%;
    }
    h1 + h3 {
      width: 78%;
    }
  }
  h2 {
    font-size: 20px;
    font-weight: 500;
  }
  h3 {
    font-size: 16px;
    font-weight: 500;
  }
  h4 {
    font-size: 14px;
    font-weight: 500;
  }
  h5 {
    font-size: 14px;
    font-weight: 500;
  }
}

/* Адаптивные стили для экранов с шириной до 480px (например, мобильные телефоны) */
@media screen and (max-width: 480px) {
  h1 {
    .double {
    }
    font-size: 32px;
    font-weight: 500;
  }
  h2 {
    font-size: 24px;
    font-weight: 500;
  }
  h3 {
    font-size: 18px;
    font-weight: 500;
  }
  .C_AuthorsCards {
    a:nth-child(n + 5) {
      display: none;
    }
  }
  .M_IssueCard {
    &.Secondary {
      .Title {
        margin-top: 12px;
        gap: 5px;
      }
    }
  }
  .SmallPodcastCoverImage {
    width: 45px;
    height: 45px;
  }
  .M_ChartCard h2 {
    font-size: 18px;
  }
  .W_ListBlock_Title {
    a {
      h4 {
        display: none;
      }
    }
  }
  h4 {
    font-size: 16px;
    font-weight: 400;
  }
  .Q_Logo {
    &.long {
      width: 60px;
      height: 20px;
    }
  }
  .W_AccentCover {
    h1 {
      width: 80%;
      text-align: center;
      font-size: 44px !important;
    }
    .A_Button {
      width: 17vw;
    }
  }
  .W_TitleWith h4 + div {
    gap: 6px;
  }
  .W_AccentCover h1 + h3 {
    width: 78%;
  }
  .AuthorAvatarImage {
    width: 165px !important;
    height: 165px !important;
  }
  .O_BgRecPage {
    height: 13vh;
  }
  .C_AuthorsCards {
    justify-content: flex-start;
    gap: 14px;
    margin-left: -49vw;
  }
  .A_Likeble_Cover {
    width: 200px;
    height: 200px;
  }
  .A_Tag {
    padding: 10px 16px;
  }
  .C_PodcastCards {
    justify-content: flex-start;
    gap: 12px;
    margin-left: -61vw;
  }
  .M_IssueCard {
    .Title {
      flex-direction: column;
      align-items: flex-start;
      gap: 12px;
    }
  }
  .M_ThemeCard .ThemeCoverImage {
    width: 175px;
  }
  .C_ThemeCards {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 88vw;
    flex-wrap: wrap;
    margin-left: 0vw;
  }
  .O_Footer {
    flex-direction: column;
    align-items: normal;
    .InerBlock {
      align-items: flex-start;
      flex-direction: column;
      margin-bottom: 2vh;
      .TextTwo {
        display: flex;
        width: 88%;
        justify-content: space-between;
        flex-direction: row;
        .TextBlock {
          width: 30vw;
        }
      }
    }
    .Q_Icon {
      &.tg {
        display: none;
      }
    }
  }
  .O_Menu .LinksList {
    gap: 12px;
    .Q_Logo {
      &.long {
        width: 70px;
        height: 30px;
      }
    }
  }
  .W_AccentCover h3 {
    width: 300px;
    font-size: 16px;
  }
  .O_Footer .InerBlock .TextBlock {
    width: 38vw;
  }
  .O_Menu {
    .SearchContainer {
      display: none;
    }
  }
  .SearchContainer {
    width: 80vw;
    .SearchInput {
      width: 71vw;
    }
  }
  .W_ToggleList {
    gap: 20px;
  }
  .A_PodcastCover {
    width: 42vw;
    height: 42vw;
  }
  .C_AuthorsCards {
    margin-left: 0vw;
  }
  .M_ChartCard {
    gap: 6px;
    .C_LinksLine {
      display: none;
    }
    .PodcastThemes {
      display: none;
    }
  }
  .Q_Icon {
    &.more {
      width: 22px;
      height: 22px;
      background-size: contain;
    }
  }
  .C_ChartCard_Info {
    width: 62vw;
    height: 80px;
  }
  .M_ChartCard .C_LinksLine + div {
    margin-left: 1vw;
  }
  .M_ThemeCard .ThemeCoverImage {
    width: 155px;
    height: 155px;
  }
  .W_CardBlock {
    gap: 0;
  }
  .C_ThemeCards {
    gap: 18px;
  }
  .O_BgMainPage {
    height: 29vh;
    margin-top: 2vh;
  }
  .O_LentaPosts {
    flex-direction: column-reverse;
    .W_PopularFeed {
      width: 100%;
      position: relative;
      top: 0;
    }
  }
}
