body {
  font-family: 'FormaDJR';
}
h1 {
  font-size: 40px;
  line-height: 110%;
  letter-spacing: 0.7px;
  font-weight: 500;
  &.bold {
    font-weight: 600;
  }
  &.extra {
    font-size: 64px;
  }
  &.double {
    font-size: 100px;
  }
  &.stroke {
    background-color: var(--four_gray);
    border: 14px solid var(--four_gray);
  }
}

h2 {
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.7px;
  font-weight: 500;
}
h3 {
  font-size: 24px;
  line-height: 110%;
  letter-spacing: 0.25px;
  font-weight: 500;
}
h4 {
  font-size: 20px;
  line-height: 135%;
  letter-spacing: 0.25px;
  font-weight: 400;
}
h5 {
  font-size: 16px;
  line-height: 110%;
  letter-spacing: 0.25px;
  font-weight: 500;
}
p {
  font-size: 16px;
  line-height: 110%;
  letter-spacing: 0.25px;
  font-weight: 400;
  &.small {
    font-size: 12px;
  }
  &.bold {
    font-weight: 600;
  }
  &.two_stroke {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Ограничиваем до 2 строк */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }
  &.gray {
    color: var(--second_gray);
  }
}
a {
  font-size: 24px;
  line-height: 110%;
  letter-spacing: 3%;
  font-weight: 500;
  text-decoration: none;
  color: var(--first_gray);
}
