<div class="O_Footer">
    <div class="InerBlock">
        <div class="Q_Logo">
        </div>
        <div class="TextTwo" style="display:flex">
            <div class="TextBlock">
                <h3> ГЛАВНАЯ </h3>
                <p> Рецензии и обсуждение подкастов и их выпусков</p>
            </div>
            <div class="TextBlock">
                <h3> РЕКОМЕНДАЦИИ </h3>
                <p> Персонализированные рекомендации подкастов </p>
            </div>
        </div>
    </div>
    <div class="InerBlock">
        <div class="TextBlock">
            <p> Эльвира Галиева</p>
            <p> Вероника Логинова</p>
            <p> Татьяна Турицына</p>
        </div>
        <div class="Q_Icon tg">
        </div>
    </div>

</div>